/*==========================
   Base Element Styles
   =========================*/

   /*--- header ---*/

*{
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #272727
    margin: auto;
    width: 95%;
    text-align: center;
}


header, 
footer {
    background-color: #fcf9f9;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
}

.main-nav ul {
    display: block;
    list-style-type: none;
    padding-left: 0;
  }

.student-name  {
    display: block;
    font-size: 2em;
    margin: 2rem auto;
}

.main-nav a {
    padding: .7em 1.5em;
    margin: .3em 0px;
    letter-spacing: .3em;
    font-size: 1em;
    line-height: .8em;
    background-color: #ffffff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #272727;
}

.main-nav a:hover{
    color: #6e0101;
}



/* --- main --- */

h2 {
    font-size: 1.4rem;
    padding: 1.5rem;
    margin-bottom: .5rem;
}

h3 {
    font-size: 1.4rem;
    padding-top: .2rem;
    margin-top: .9rem;
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: .9rem;
    line-height: 1.25rem;
    margin-bottom: .2rem;
  }

nav, 
.portfolio h2, 
.contact,
.bottom-link {
    text-transform: uppercase;
}

/*==========================
   Basic Layout Styles
   =========================*/

.profile-img {
    width: 85%;
    margin-top: .5rem;
}

 .container {
    width: 90%;
    margin: 0 auto;
 }

 .portfolio-image {
    width: 100%;
    margin-top: 1.5rem;
}

/* -- footer section -- */

footer {
    padding: 1rem 0;
}

footer p{
    width: 90%;
    display: inline-block;
}

.bold {
    font-weight: bold;
}

footer div {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}

.bottom-nav {
    border-top: 2px solid gray;
}

footer h3, 
.bottom-link {
    display: inline-block;
    font-size: .7rem;
    width: 49%;
    text-decoration: none;
    margin-bottom: 1rem;
}



.group:after {
    content:"";
    display: table;
    clear: both;
}

/*==========================
        Media Queries
 ===========================*/

 @media (769px) {
     .container{
         width: 85%;
     }
 }



 @media (1040px) {
     .container {
         max-width: 1080px;
         width: 80%;
     }
 }