/*==========================
   Base Element Styles
   =========================*/

   /*--- header ---*/

*{
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    margin: auto;
    width: 95%;
    text-align: center;
}


header, 
footer {
    background-color: #ece9e9;
    width: 100%;
    padding-bottom: 30px;
}

.main-nav ul {
    float: left;
    list-style-type: none;
}

h1 {
    font-size: 1.4rem;
    margin: auto;
    padding: 2rem 0;
}

.main-nav a {
    padding: .5em 1.5em;
    margin: .7em 0px;
    letter-spacing: .3em;
    font-size: 1em;
    line-height: .8em;
    background-color: #ffffff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #272727;
}

.main-nav a:hover{
    color: #6e0101;
}



/* --- main --- */

h2 {
    font-size: 1.4rem;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
    padding-top: 1rem;
    
}

p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: .8rem;
    line-height: 1.25rem;
    margin-bottom: 1.8rem;
    padding-top: .5rem;
}

nav, 
.portfolio h2, 
.contact,
#back-to-top{
    text-transform: uppercase;
}

/*==========================
   Basic Layout Styles
   =========================*/

.profile-img {
    width: 85%;
    margin-top: .5rem;
}

 .container {
    width: 90%;
    margin: 0 auto;
 }

 .portfolio-image {
    width: 100%;
}



footer {
    float: left;
}

footer section p,
.bold {
display: inline-block;

}

.bold{
    font-weight: bold;
}
footer h3{
    font-size: 1rem;
}

footer p{

}
/*==========================
        Media Queries
 ===========================*/

 @media (769px) {
     .container{
         width: 85%;
     }
 }



 @media (1040px) {
     .container {
         max-width: 1080px;
         width: 80%;
     }
 }