*{
    background-color: lightgrey;
 
}
body {
    margin: auto;
    width: 60%;
    font: 1em/1.5;
}
h1 {
    color: green;
    font-size: 2.5em;
    margin: auto;
}
p {
    font-family: 'Nanum Gothic', sans-serif;
}


/*layouts */
 .container {
    width: 90%;

 }

 /*Media queries*/

 @media (769px) {
     .container{
         width: 85%;
     }
 }

 @media (1040px) {
     .container {
         max-width: 1080px;
         width: 80%;
     }
 }